<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf8" />
    <title>awas modus</title>
    <link rel="stylesheet" href="src/style.min.css" />
    <script src="src/js/petitevue.js"></script>
    <script defer>
        var jsfiles = [
            // "src/js/lib-bundle.js",
            "src/js/main.js"
        ];
        jsfiles.forEach(src => {
            let sc = document.createElement('script');
            sc.src = `${src}?t=${Date.now()}`;
            sc.type = "module";
            document.head.appendChild(sc);
        });
    </script>
</head>
<body class="bg-black"  class="no-select" style="overflow: hidden;">
    <div id="main" class="no-select" v-scope style="visibility: hidden;">
        <div id="room-start" class="no-select" v-show="vshow.startgame">
            <img id="img-start-text" class="no-select fullwidthabsolute" src="src/asset/start/bg-text.svg" />
            <img src="src/asset/start/elips.svg" id="img-start-circle" />
        </div>
        <div id="room-s1" class="no-select" v-show="vshow[1]">
            <img
                src="src/asset/s1/lockscreen.svg"
                id="imgs1-lockscreen"
                class="fullwidthabsolute"
                v-show="vshow.imgs1lockscreen"/>
            <img
                src="src/asset/s1/wa-popup.png"
                id="imgs1-wapopup"
               
                v-show="vshow.imgs1wapopup"
                class="scalein-topcenter tadinya-wiggle06"/>

            <img
                src="src/asset/s1/wa-open-empty.svg"
                id="imgs1-wabg"
                class="fullwidthabsolute"
                v-show="vshow.imgs1wabg" />
            <img
                src="src/asset/s1/wa-open-1.png"
                id="imgs1-waopen1"
                v-show="vshow.imgs1waopen1"
                class="scalein" />
            <img
                src="src/asset/s1/wa-open-2.png"
                id="imgs1-waopen2"
                v-show="vshow.imgs1waopen2"
                class="scalein" />
        </div>
        <div id="room-s2" class="no-select" v-show="vshow[2]">
            <img
                src="src/asset/s2/lockscreen.svg"
                id="imgs2-lockscreen"
                class="fullwidthabsolute"
                v-show="vshow.imgs2lockscreen" />
            <img src="src/asset/s2/email-popup.svg"
                id="imgs2-emailpopup"
                v-show="vshow.imgs2emailpopup"
                class="scalein-topcenter tadinya-wiggle06" />
            <img src="src/asset/s2/email-openbg-noquestion.svg"
                id="imgs2-emailopenbg"
                v-show="vshow.imgs2emailopenbg"
                class="fullwidthabsolute"/>
            <img src="src/asset/s2/email-openbg-question.svg"
                id="imgs2-bgquestion"
                v-show="vshow.imgs2bgquestion"
                class="fullwidthabsolute"/>
        </div>
        <div id="room-s3" class="no-select" v-show="vshow[3]">
            <img
                src="src/asset/s3/call.svg"
                id="imgs3-call"
                class="fullwidthabsolute"
                v-show="vshow.imgs3call" />
            <img src="src/asset/s3/phone-icon.svg"
                id="imgs3-phoneicon"
                v-show="vshow.imgs3phoneicon"
                class="" />
            <img
                src="src/asset/s3/call-bg.svg"
                id="imgs3-callbg"
                class="fullwidthabsolute"
                v-show="vshow.imgs3callbg" />
        </div>
        <div id="room-s4" class="no-select" v-show="vshow[4]">
            <img
                src="src/asset/s4/ads-bg.svg"
                id="imgs4-adsbg"
                class="fullwidthabsolute"
                v-show="vshow.imgs4adsbg" />
            <img src="src/asset/s4/ads-img3.png"
                id="imgs4-adsimg"
                v-show="vshow.imgs4adsimg"
                class="" />
            <img src="src/asset/s4/ads-popup.png"
                id="imgs4-adspopup"
                v-show="vshow.imgs4adspopup"
                class="scalein" />
            <img src="src/asset/s4/questionbox.svg"
                id="imgs4-questionbox"
                v-show="vshow.imgs4questionbox"
                />
        </div>
        <div id="room-s5" class="no-select" v-show="vshow[5]">
            <img src="src/asset/s1/lockscreen.svg"
                id="imgs5-lockscreen"
                class="fullwidthabsolute"
                v-show="vshow.imgs5lockscreen" />
            <img src="src/asset/s5/sms-popup.png"
                id="imgs5-smspopup"
                v-show="vshow.imgs5smspopup"
                class="scalein-topcenter tadinya-wiggle06" />

            <img src="src/asset/s5/sms-bg.svg"
                id="imgs5-smsbg"
                class="fullwidthabsolute"
                v-show="vshow.imgs5smsbg" />
            <img src="src/asset/s5/sms-open1.svg"
                id="imgs5-smsopen1"
                class="scalein"
                v-show="vshow.imgs5smsopen1" />
            <img src="src/asset/s5/questionbg.svg"
                id="imgs5-questionbox"
                v-show="vshow.imgs5questionbox" />
        </div>
        <div id="room-s6" class="no-select" v-show="vshow[6]">
            <img
                src="src/asset/s1/lockscreen.svg"
                id="imgs6-lockscreen"
                class="fullwidthabsolute"
                v-show="vshow.imgs6lockscreen"/>
            <img
                src="src/asset/s6/popup.png"
                id="imgs6-wapopup"
               
                v-show="vshow.imgs6wapopup"
                class="scalein-topcenter tadinya-wiggle06"/>

            <img
                src="src/asset/s6/wa-open-empty.svg"
                id="imgs6-wabg"
                class="fullwidthabsolute"
                v-show="vshow.imgs6wabg" />
            <img
                src="src/asset/s6/wa-open1.png"
                id="imgs6-waopen1"
                v-show="vshow.imgs6waopen1"
                class="scalein" />
        </div>
        <div id="room-result" class="no-select" v-show="vshow.result"
            @click="if (model_room.animation_scene==4) vshow.forcereset = true;"
        >
            <img id="result-bg"
                src="src/asset/result/bg.svg"
                v-show="vshow.resultbg"
                class="fullwidthabsolute" />
            <img id="result-neg"
                src="src/asset/result/result-neg.png"
                class="scalein-topcenter"
                v-show="vshow.resultneg" />
            <img id="result-pos"
                src="src/asset/result/result-pos.png"
                class="scalein-topcenter"
                v-show="vshow.resultpos" />

            <img id="result-call0"
                src="src/asset/result/call0.png"
                class="scalein-center"
                v-show="vshow.resultcall0" />
            <img id="result-call1"
                src="src/asset/result/call1.png"
                class="scalein-center"
                v-show="vshow.resultcall1" />
            <img id="result-callface"
                src="src/asset/result/face.png"
                class="scalein-center"
                v-show="(vshow.resultcall0||vshow.resultcall1)" />

            <img id="result-textbg"
                src="src/asset/result/text-bg.svg"
                v-show="vshow.resulttextbg" />
            <img id="result-textneg"
                src="src/asset/result/text-neg.svg"
                v-show="vshow.resulttextneg" />
            <img id="result-ticket"
                src="src/asset/result/ticket.svg"
                v-show="vshow.resultticket" />
        </div>
        <div
            id="question-box"
            :class="[`question`,`${model_room.room_id}`]"
            v-show="vshow.questionbox"
            v-if="model_room.get_current_question()"
            >
            <div
                class="question-text"
                v-html="model_room.get_current_question().question"
                >
            </div>
            <ol>
                <li
                    v-for="choice 
                        in model_room.get_current_choices_shuffled()"
                    class="choice"
                    @click="model_room.choice_select(choice);
                            model_room.next_question();"
                    >
                        <span v-html="choice[Object.keys(choice)[0]]">
                        </span>
                </li>
            </ol>
        </div>
        <div
            id="force-reset"
            v-show="vshow.forcereset"
            >
            <span v-html="model_room.story_reset_timer"></span>
            <button
                @click="model_room.story_reset_timer = 0"
            >
                Mulai baru sekarang
            </button>
            <button
                @click="vshow.forcereset = false"
            >
                Tutup
            </button>
        </div>
    </div>
    <audio id="audio-call" src="src/asset/result/voice.ogg">
    </audio>
    <audio id="audios3-call" src="src/asset/s3/call.ogg"></audio>
    <audio id="audio-notif" src="src/asset/tone_notif.mpga"></audio>
    <audio id="audio-ringtone" src="src/asset/tone_ringtone.mpga"></audio>
    <audio id="audio-wa" src="src/asset/tone_wa.mpga"></audio>
</body>
</html>