@import 'style/animation';

$font_sans: sans-serif;
$blue: #225ef2ff;
$blue_light: #96e2faff;
$dark: #020e82ff;

$mockup_width: 2160px;
$mockup_height: 3840px;

.bg-blue{
    background-color: $blue;
}
.bg-black{
    background-color: rgba(0,0,0,1);
}
.bg-dark{
    background-color: $dark;
}
body{
    font-family: $font_sans;
    font-size: 1vw;
    transition: background-color 1s;
    min-height: 100vh;
    background-color: $dark;
}
.fullwidthabsolute{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    margin: 0;
}
#main{
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    min-height: 80vh;
    font-size: 1em;
}
#story{
    z-index: 2;
    background-color: rgba(255,255,255,0);
    font-size: 3em;
    color: $blue_light;
    transition: top 2s, background-color 2s;
    padding: 5vw;
    box-sizing: content-box;
    position: absolute;
    width: 70vw;
    left: 10vw;
    top: -50vh;
    &.down{
        top: 10vh;
    }
    &.absolute{
        background-color: white;
        border-radius: 25px;
        background-color: rgba(255,255,255,1);
        top: 10vw;
        color: $dark;
    }
}
#img-wrapper{
    z-index: 1;
    position: absolute;
    width: 98vw;
    text-align: center;
    height: 90vh;
    left: 0vw;
    top: 80vh;
    transition: top 1.5s, height 1.5s, width 1.5s;
    #img-svg{
        display: inline-block;
        height: auto;
        width: 98vw;
        max-width: 98vw;
    }
}
#sliderCanvas{
    position: absolute;
    //using vw because position is matching the background image, which has a width relative to the viewport width
    left: 24vw;
    top: 120vw;
    width: 52vw;
    height: 15vw;

    z-index: 2;
}
#img-phone{
    position: absolute;
    z-index: 2;
    //using vw because position is matching the background image, which has a width relative to the viewport width
    left: 23vw;
    top: 120vw;
    height: 14.5vw;
    width: auto;
    transition: left 0.5s;
}
#video-wrapper {
    z-index: 1;
    position: absolute;
    width: 100vw;
    text-align: center;
    height: 90vh;
    left: 0vw;
    top: 80vh;
    transition: top 1.5s;
    #video{
        display: inline-block;
        height: 100%;
        width: auto;
    }
    &.up{
        top: 5vh;
    }
}
#room-start{
    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    background-image: url('asset/start/bg-start.jpg');
    background-size: 100% auto;
    background-position: top auto;
    filter: opacity(1);
    transition: filter 2s;
    #img-start-circle{
        position: absolute;
        left: 12vw;
        top: 115vw;
        width: 16vw;
        height: auto;
        transition: left ease-out 0.5s;
    }
}
#room-s1{
    filter: opacity(0);
    transition: filter 2s;
    position: absolute;
    left: 0;
    top: 0;
    #imgs1-wapopup{
        //design size
        $left: 100px;
        $top: 1000px;
        $width: 1961px;
        $height: 726px;

        position: absolute;
        left: 100vw * calc($left / $mockup_width);
        top: 100vh * calc($top / $mockup_height);
        width: 100vw * calc($width / $mockup_width);
        height: auto;
        object-fit: cover;
        animation-iteration-count: 2;
        cursor: pointer;
    }
    #imgs1-waopen1{
        //design size
        $left: 162px;
        $top: 850px;
        $width: 1587px;
        $height: 617px;

        position: absolute;
        left: 100vw * calc($left / $mockup_width);
        top: 100vh * calc($top / $mockup_height);
        width: 100vw * calc($width / $mockup_width);
        height: auto;
    }
    #imgs1-waopen2{
        //design size
        $left: 121px;
        $top: 1502px;
        $width: 864px;
        $height: 344px;

        position: absolute;
        left: 100vw * calc($left / $mockup_width);
        top: 100vh * calc($top / $mockup_height);
        width: 100vw * calc($width / $mockup_width);
        height: auto;
    }
}
#room-s2{
    #imgs2-emailpopup{
        //design size
        $width: 1961px;
        $height: 1089px;
        $top: 991px;
        $left: 99px;

        position: absolute;
        z-index: 2;
        left: 100vw * calc($left / $mockup_width);
        top: 100vh * calc($top / $mockup_height);
        width: 100vw * calc($width / $mockup_width);
        height: auto;
    }
}
#room-s3{
    #imgs3-phoneicon{
        position: absolute;
        z-index: 2;
        //using vw because position is matching the background image, which has a width relative to the viewport width
        left: 10.5vw;
        top: 113vw;
        height: 19.5vw;
        width: auto;
        transition: left 0.5s;
    }
}
#room-s4{
    background: black;
    #imgs4-adsbg{
        z-index: 4;
    }
    #imgs4-adsimg{
        position: absolute;
        z-index: 1;
        left: 0;
        top: -26vh;
        width: 100vw;
        height: auto;
        @include scroll(-3vh, -26vh, 4s, cubic-bezier(0.93, 0.21, 0.63, 0.43));
        animation-iteration-count: 1;

        filter: brightness(1) blur(0px);
        transition: filter 1s;
    }
    #imgs4-adspopup{
        position: absolute;
        z-index: 3;
        //design size
        $width: 1828px;
        $height: 981.34px;
        $top: 1044.83px;
        $left: 186px;

        top: 100vh * calc($top / $mockup_height);
        left: 100vw * calc($left / $mockup_width);
        width: 100vw * calc($width / $mockup_width);
        height: auto;
    }
    #imgs4-questionbox{
        position: absolute;
        z-index: 5;
        left: 0;
        width: 100vw;
        height: auto;
        @include scroll(88.1vh, 60vh, 1s, ease-in);
        animation-iteration-count: 1;
    }
}
#question-box{
    //design size
    $top: 2629px;
    
    position: absolute;
    left: 0px;
    top: 100vh * calc($top / $mockup_height);
    width: 100vw;
    height: auto;
    text-align: center;
    z-index: 5;

    color: white;
    .question-text{
        display: block;
        text-align: center;
        font-size: 5.2em;
        font-weight: bold;
        margin-bottom: 0.8em;
    }
    ol {
        list-style-type: upper-alpha;
        margin: 0;
    }
    li.choice{
        cursor: pointer;
        display: list-item;
        list-style-position: inside;
        font-size: calc(85 / 110) * 5.2em;
        text-align: left;
        background-color: #4b4b4d;
        color: white;
        border-radius: 3vh;
        border: none;
        box-sizing: border-box;
        width: 100vw * calc(1395px / 2160px);
        margin: 0.5vh auto;
        padding: 3vw 5vw;
    }
}

#old-question{
    position: absolute;
    bottom: -40vh;
    height: 40vh;
    left: 0vw;
    transition: top 1s, bottom 1s;
    z-index: 2;
    #question-round{
        background-color: $blue_light;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        width: 100vw;
        height: 5vh;
    }
    #question-rect{
        background-color: $blue_light;
        width: 100vw;
        height: 35vh;
        padding-top: 5vh;
        color: $blue;
    }
    #question-text{
        font-size: 3em;
    }
    #choices{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: auto;
    }
    .choice{
        font-size: 2em;
        color: $blue;
        background-color: rgba(255,255,255,1);
        padding: 2vw;
        border-radius: 25px;
        width: auto;
        min-width: 51%;
        margin: 0.5vh auto;
        transition: background-color 1s;
        cursor: pointer;
        &:hover{
            background-color: rgba(200,200,200,1);
        }
    }
}
.no-select{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.hidden{
    display: none;
    font-size: 0;
    letter-spacing: 0;
}